body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  display: flex;
  align-items: center;
  background-color: #ffe7c7;
  height: 100px;
  margin-bottom: 30px;
}

.fa-leaf {
  color: #017502;
  margin-left: 30px;
  margin-right: 15px;
}

.header-text {
  font-size: 1.5rem;
  margin-right: 10px;
}

.header-count {
  display: inline-block;
  background-color: #017502;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 38px;
  color: white;
  border-radius: 50%;
  font-size: 2rem;
  margin-right: 20px;
}

.habit {
  margin-left: 30px;
}

.habit-text {
  font-size: 2rem;
  margin-right: 10px;
}

.habit-count {
  display: inline-block;
  background-color: #87b386;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 38px;
  color: white;
  border-radius: 50%;
  font-size: 2rem;
  margin-right: 20px;
}

.button {
  cursor: pointer;
  outline: none;
}

.button-plus,
.button-minus {
  color: #d59b1d;
}

.button-trash {
  color: #810000;
}

.button {
  border: none;
  background-color: transparent;
  margin-right: 5px;
}
